.relative {
  position: relative;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.search-box {
  width: 28rem;
  display: flex;
  height: 40px;
}

.search-box__input {
  width: 23.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  border-radius: 0.25rem 0 0 0.25rem;
  -webkit-border-radius: 0.25rem 0 0 0.25rem;
  -moz-border-radius: 0.25rem 0 0 0.25rem;
  -ms-border-radius: 0.25rem 0 0 0.25rem;
  -o-border-radius: 0.25rem 0 0 0.25rem;
}

.search-box__input:focus {
  outline: none;
  border-color: #646cff;
}

.search-box__icon {
  position: absolute;
  top: 50%;
  right: -0.1rem;
  transform: translateY(-50%);
  border-radius: 0 0.25rem 0.25rem 0;
  -webkit-border-radius: 0 0.25rem 0.25rem 0;
  -moz-border-radius: 0 0.25rem 0.25rem 0;
  -ms-border-radius: 0 0.25rem 0.25rem 0;
  -o-border-radius: 0 0.25rem 0.25rem 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-color: #ccc;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-box__results {
  width: 28rem;
  background-color: #fff;
  position: absolute;
}

.search-box__results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-box__results li {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.search-box__results li a {
  color: #000;
  text-decoration: none;
  width: 100%;
  padding: 0.5rem 1rem;
}
.search-box__results li a:hover,
.search-box__results li a:focus {
  background-color: #646cff;
  color: #fff;
}

.search-box__results__footer {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}
.search-box__results__footer:hover,
.search-box__results__footer:focus {
  background-color: #646cff;
  color: #fff;
}
